<form method="post" action="{{ path('lieu_delete', {'id': lieu.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de ce lieu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
