{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    <a class="btn btn-warning" onclick="localStorage.clear(); history.go(-1);">Retour</a>
{{ form_end(form) }}
