{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Nouveau Lieu{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau lieu</h1>

    {{ include('lieu/_form.html.twig') }}

{% endblock %}
