<form method="post" action="{{ path('participant_delete', {'pseudo': participant.pseudo}) }}" onsubmit="return confirm('Confirmez-vous la suppression de ce profil ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
