{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Éditer Participant {% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    <div class="">
        <img class="" src="{{ asset('uploads/profiles_pictures/' ~ participant.photo) }}" alt="pas de photo">
    </div>

    {{ include('participant/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('participant_list') }}">
        <button type="button" class="btn btn-lg btn-danger">Annuler</button>
    </a>
{% endblock %}
