{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Éditer Participant {% endblock %}

{% block body %}

    <div class="d-flex justify-content-center">
        <h1>Mon Profil</h1>
    </div>

    <div class="d-flex flex-wrap gap-3 zoom">

        <div class="colTier">
                <img class="w-50 align" src="{{ asset('uploads/profiles_pictures/' ~ participant.photo) }}" alt="pas de photo">
        </div>

        <div class="colTier">

            {% if app.user.id == participant.id or app.user.administrateur %}

                {{ include('participant/_form.html.twig', {'button_label': 'Enregistrer', 'return': true}) }}

            {% else %}

                {{ include('inc/acces_refuse.html.twig') }}

            {% endif %}

        </div>

        <div class="colTier">

        </div>

    </div>

{% endblock %}
