{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Éditer Participant {% endblock %}

{% block body %}

<div class="d-flex flex-wrap gap-3">

    <div class="colPhotoProfil">
        <img src="{{ asset('uploads/profiles_pictures/' ~ participant.photo) }}" alt="pas de photo">
    </div>

    <div class="colProfil">

        {% if app.user.id == participant.id or app.user.administrateur %}
            <h1>Mon Profil</h1>

            {{ include('participant/_form.html.twig', {'button_label': 'Enregistrer', 'return': true}) }}

        {% else %}
            {{ include('inc/acces_refuse.html.twig') }}
        {% endif %}

    </div>

    <div class="colDisplay">

    </div>

</div>

{% endblock %}
