{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Nouveau Participant {% endblock %}

{% block body %}
    <h1>Créer un participant</h1>

    {{ include('participant/_form.html.twig') }}

{% endblock %}
