{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Créer Compte {% endblock %}

{% block body %}
    <h1>Register</h1>

    {% form_theme registrationForm 'bootstrap_5_horizontal_layout.html.twig' %}
    {{ form_start(registrationForm) }}

    {{ form_widget(registrationForm) }}

    <button type="submit" class="btn btn-outline-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
