<form method="post" action="{{ path('campus_delete', {'id': campus.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer le Campus ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campus.id) }}">
    <button class="btn btn-lg btn-danger">Delete</button>
</form>
