{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}
    <h1>Ajouter un Campus</h1>

    {{ include('campus/_form.html.twig') }}

    <a href="{{ path('campus_list') }}">Retour a la liste des campus</a>
{% endblock %}
