{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>A l'attention des étourdis !</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <h3 class="text-justify">
                Alors, tête de linotte. T'as oublié ton mot de passe ? C'est pas bien. Le mot de passe est un élément important
                de ton compte qui te permet de te connecter à notre site. Bon, pour cette fois, je passe l'éponge et je t'envoie
                un p'tit mail pour le réinitialiser, mais que cela ne se reproduise plus ! Sinon, des sanctions seront prises.
        </h3>

        <button class="btn btn-warning btn-lg">Envoi du mail de réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}
