/* Header */

.monLogo{
    flex: 1;
}

.maNavBar{
    flex: 2;
}

header img {
    padding-top: 5px;
    max-height: 120px;
}

/* Fomulaire Login */

.div_form_login {
    width: 324px
}

/* Participant Liste */

.liste-participant:hover {
     cursor: pointer ;
 }

/* Participant SHOW/EDIT */

.colPhotoProfil{
    flex: 1 0 300px;
    width: 100%;
}

.colPhotoProfil img{
    width:100%;
    object-fit: cover;
}
.colProfil{
    flex: 1 0 300px;
}

.colDisplay{
    flex: 1 0 300px;
}

.fieldsetSortiesForm {
    border: 3px solid black!important;
}


