{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Nouvelle Sortie {% endblock %}

{% block body %}
    <h1>Create new Sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('sortie_list') }}">back to list</a>
{% endblock %}
