<form method="post" action="{{ path('groupe_prive_delete', {'id' : app.request.get('_route') == 'groupe_prive_list' ? app.user.groupesOrganises[i].id : groupe_prive.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de ce groupe privé ?');" class="d-inline-block">
	{% if app.request.get('_route') == 'groupe_prive_list' %}
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.groupesOrganises[i].id) }}">
	{% else %}
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ groupe_prive.id) }}">
	{% endif %}
	<button class="btn btn-danger">Supprimer</button>
</form>