{% extends 'base.html.twig' %}

{% block title %}Edit GroupePrive{% endblock %}

{% block body %}
    <h1>Modifier le groupe privé</h1> {# ajouter le nom du groupe privé dans le titre #}

    {{ include('groupe_prive/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('groupe_prive_list') }}">Retour</a>

    {{ include('groupe_prive/_delete_form.html.twig') }}
{% endblock %}
