{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier le groupe{% endblock %}

{% block body %}

    <h1>Modifier le groupe "{{ groupe_prive.nom }}" </h1>

    {{ include('groupe_prive/_form.html.twig') }}

{% endblock %}
