{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des groupes privés{% endblock %}

{% block body %}
	<h1>Liste de mes groupes privés</h1>

	<table class="table">
		<thead>
		<tr>
			<th>Nom</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{% if app.user.groupePrives|length %}
			{% for i in 0..app.user.groupePrives|length -1 %}

				<tr class="table-{% if i is even %}info{% else %}secondary{% endif %}">

					<td>{{ app.user.groupePrives[i].nom }}</td>
					<td>{{ include('inc/buttons.html.twig', {'update':true, 'delete': true, 'id': app.user.groupePrives[i].id, 'type': 'groupe_prive'}) }}</td>

				</tr>
			{% endfor %}

		{% else %}
			<tr>
				<td colspan="3">Vous n'avez créé aucun groupe privé.</td>
			</tr>
		{% endif %}
		</tbody>
	</table>

	<a href="{{ path('groupe_prive_new') }}">
		<button class="btn btn-success">Créer un groupe privé</button>
	</a>
{% endblock %}
