{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vous n'avez pas l'autorisation 404 pour être ici.</h1>
    <p><a href="{{ path('/') }}" title="retour à l'acceuil">Marche arrière!!!</a> </p>
{% endblock%}

{% block title%}INTRUSION!!!{% endblock %}