{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bah oui! Vas-y! Casse mon site!!!!.</h1>
    <p><a href="{{ path('/') }}" title="retour à l'acceuil">Marche arrière!!!</a> </p>
{% endblock%}

{% block title%}VANDALE!!!{% endblock %}