{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vous n'avez pas l'autorisation 404 pour être ici.</h1>

    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="button" onclick="history.go(-1);">Marche arrière!!!</button>
    </div>
{% endblock%}

{% block title%}INTRUSION!!!{% endblock %}