{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Bah oui! Vas-y! Casse mon site!!!!.</h1>

    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-danger" type="button" onclick="history.go(-1);">Marche arrière!!!</button>
    </div>
{% endblock%}

{% block title%}VANDALE!!!{% endblock %}